@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  transition: width 0.5s;
}

.sidebar-content {
  transition: 
    opacity 0.2s 0.5s,
    display 0.5s;
}

@starting-style {
  .sidebar-content {
    opacity: 0;
    display: none;
  }
}

.modal {
  transition:
    opacity 0.2s,
    display 0.2s allow-discrete;
}

@starting-style {
  .modal {
    opacity: 0;
    display: none;
  }
}
